body {
  font-family: "Roboto";
  background-image: url(../images/Design\ sem\ nome\ \(2\)\ 8.png);
  background-size: contain;
}

.principal {
  height: 100vh;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.principal .titulos {
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-formulario {
  font-size: 23px;
  line-height: 26px;
  width: 38%;
  margin-bottom: 15px;
  margin-left: 7px;
}

.texto-formulario {
  font-size: 19px;
  line-height: 24px;
  width: 37%;
  font-weight: 300;
}

.container {
  background-color: white;
  width: 400px;
  height: 450px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.container .input-formulario {
  width: 99%;
  line-height: 27px;
  margin-bottom: 1px;
  margin-top: 10px;
  padding: 4px;
  border-radius: 7px;
  font-weight: 700;
}

#input-mensagem{
  padding-bottom: 75px;
}

.container .aviso{
  margin-top: 10px;
  margin-bottom: 5px;
}

.container .botao-formulario{
  background-color: #3BCC87;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 16px;
  border-radius: 10px;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 5px;
  border: transparent;
  width: 95%;
}

.botao-formulario:hover{
  cursor: pointer;
}

.campo-preenchido{
  border: 2px solid #1ac673;
}

.campo-faltando{
  border: 2px solid red;
}

p{
  width: 66px;
  height: 9px;
  display: flex;
  font-size: 8px;
  line-height: 8px;
  margin-left: 3px;
  color: red;
}

